@import "nullstyle.scss";




.content {
}
.container {
    min-width: 1170px;
    

    
    

}
.header0 {
    
    

		&_language {
		}

		&_contactcent {
		}

		&_country {
		}
}

.header1 {
    height: 120px;
    background-color: #ffcc00;
    display: flex;
    justify-content: center;
    align-items: center;
    
        &_cont{
            display: flex;
            justify-content:space-between;
            align-items: center;
         
        }
    
		&_logo {
		}

		&_list {
            color: #df6d00;
            text-transform: uppercase;
            
            & ul{
                display: flex;
                justify-content: center;
                & :last-child{
                    margin: 0;
                }
                & li{
                    margin: 0 20px 0 0 ;
                    
                }
            }

		}

		&_search {
            width: 40px;
            height: 40px;
            background-color: #ba0000;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            box-shadow: 0 0 10px #ba0000, 0 0 40px #ba0000, 0 0 80px  #ba0000;
            & a{
               
            }

            & img{
                
            }

		}
}

